body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: magenta;
}

.marker-btn {
  background: black;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.marker-btn p {
  position: absolute;
  font-size: 22px;
  top: -21px;
  right: 3px;
}